/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    /* COLOR */
    --colDark: #252734;
    --colLight: #2A2C39;
    --fontLight: #fcfcfc;
    --fontDark: #878592;

    /* FONT */
    font-size: 1.3rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.375rem;
    font-family: 'Cormorant Garamond', serif;
    color: var(--fontLight);
    margin-top: 1rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--fontDark);
    border-left: 2px solid var(--fontDark);
    padding-left: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Cormorant Garamond', serif;
    color: var(--fontLight);
}

p {
    color: var(--fontLight);
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

nav ul a {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--fontLight);
}

section {
    padding: 100px 25px;
}
/*** END SETTINGS ***/

/* HEADER */
header nav {
    background-color: var(--colLight);
    height: 55px;
}

nav ul {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

nav li a {
    text-transform: uppercase;
}

.gridHeader {
    background-color: var(--colDark);
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.headerNetwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headerTitle {
    padding: 25px;
}

.headerTitle p {
    font-size: 1.5rem;
    color: var(--fontLight);
}

.headerTitle h2 {
    font-size: 1.8rem;
    color: var(--fontDark);
    border: none;
    padding-left: 0;

}

.headerAbout {
    display: flex;
    justify-content: center;
}
/* END HEADER */

/* SERVICES */
#services {
    background-color: var(--colLight);
}

.allServices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}

.divServices {
    margin-left: 50px;
    margin-bottom: 50px;
}

.divServices p {
    font-size: 1.5rem;
    color: var(--fontLight);
    margin-bottom: 15px;
}

.divServices li {
    list-style-type: circle;
}

.divServices ul li {
    margin: 15px 25px;
    line-height: 1rem;
    color: var(--fontDark);
}

.divServices img {
    width: .8rem;
    margin-right: 1rem;
}

.servicesEmail {
    width: 2rem !important;
    margin-left: 50px;
}
/* END SERVICES */

/* PORTFOLIO */
#portfolio {
    background-color: var(--colDark);
}

.gridPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 25px;
}

.wantPortfolio {
    margin-top: 25px;
    text-align: center;
}
/* END PORTFOLIO */

/* CONTACT */
#contact {
    background-color: var(--colLight);
}

#contact form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

#contact [type="email"],
#contact [type="text"],
textarea {
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 32.5px;
    border: 1px solid rgba(255, 255, 255, .1);
    margin-right: 15px;
    background: 0 0;
    margin-bottom: 25px;
    color: #fff;
}

#contact [type="submit"] {
    font-size: 1rem;
    color: var(--fontLight);
    padding: 15px 30px;
    border: none;
    border-radius: 32.5px;
    width: 50%;
    margin-left: 25%;
    background-color: var(--colDark);
}

#contact .contactNetwork {
    text-align: center;
}

#contact svg {
    margin: 15px 50px;
}
/* CONTACT */

/* footer */
footer {
    background: var(--colDark);
    padding: 25px;
    text-align: center;
}

footer h2 {
    border: none;
    margin-bottom: 0;
}

.copyright {
    font-size: .8rem;
    color: var(--fontLight);
}
/* END footer */

/* RESPONSIVE TABLET -> MIN  768 */
@media screen and (min-width:768px) {
   
    .gridHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        justify-items: start;
        align-items: center;
        gap: 50px;
    }

    .headerPicture {
        grid-row: 1 / span 2;
    }

    .headerNetwork {
        flex-direction: row;
        justify-content: start;
        gap: 50px;
    }

    .headerTitle {
        padding: 0;
    }

}
/* END -> MIN  768 */

/* RESPONSIVE PC -> 992 */
@media screen and (min-width:992px) {
    section {
        padding: 100px;
    }

    nav ul {
        justify-content: end;
        gap: 25px;
    }

    nav a:hover {
        color: var(--fontDark);
    }

    .gridHeader {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }

    .headerPicture {
        grid-row: 1;
    }

    .headerNetwork {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .headerTitle {
        padding-top: 1rem;
        border-left: 1px solid var(--fontLight);
        padding-left: 15px;
        justify-self: start;

    }

    .gridPortfolio {
        gap: 50px;
    }

    #contact form {
        padding: 0 100px;
    }
}

@media only screen and (min-width:1400px) {

    section {
        padding: 150px;
    }

    #contact form {
        padding: 0 150px;
    }
}

@media only screen and (min-width:1400px) {
    section {
        padding: 150px 250px;
    }

    #contact form {
        padding: 0 250px;
    }

}